.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 70px;
  display: flex;
  padding: 0px 20px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  .headerImg {
    width: 30px;
  }
}




.notes {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  div {
    width: 70%;
    padding: 15px;
    border: 1px solid #000;
    margin-top: 15px;
  }
}

input {
  margin-top: 25px;
}